<!-- #~/electricity-api/templates/reset-password.html -->
<p>Chère utilisateur</p>
<p>
     Nous avons reçu une requête de changement du mot de passe Mok associé a l’adresse électronique {{ email }}.
Aucun changement n’a été effectué pour le moment.
Vous pouvez changer votre mot de passe en cliquant sur le lien ci-dessous:
     <a href="{{ url }}">
         Changez votre mot de passe
     </a>.
</p>
<p>Alternativement, vous pouvez copier le lien ci-dessous dans votre navigateur:</p>
<p>{{ url }}</p>

<p>Ignorer ce message si vous n’avez pas demander un changement de mot de passe.</p>

<p>Sincèrement,</p>

<p>L’équipe Mok</p>
