<table class="responsive-table">
                                            <thead>
                                            <tr>
                                                <th>{{ _("Contract Number") }}</th>
                                                <th>{{ _("Last Name") }}</th>
                                                <th>{{ _("First Name") }}</th>
                                                <th>{{ _("Gender") }}</th>
                                                <th>{{ _("Birth Date") }}</th>
                                                <th>{{ _("Phone Number") }}</th>
                                                <th>{{ _("City") }}</th>
                                                <th>{{ _("KYC Status") }}</th>
                                                <th>{{ _("Last Updated") }}</th>
                                                <th>{{ _("Edit") }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if users %}
                                            {% for user in users["items"] %}
                                            <tr>
                                                <td>{{ user.contract_number }}</td>
                                                <td>{{ user.last_name }}</td>
                                                <td>{{ user.first_name }}</td>
                                                <td>{{ user.gender[0]|upper}}{{user.gender[1:] }}</td>
                                                <td>{{ user.date_of_birth }}</td>
                                                <td>{{ user.phone_number }}</td>
                                                <td>{{ user.city }}</td>
                                                <td>{{ user.KYC_status }}</td>
                                                {% set date_list = user.created_at.split(' ') %}
                                                <td>{{ date_list[0] }}</td>
                                                <td>
                                                    <a class="waves-effect waves-light modal-trigger"
                                                       data-target="modal_{{ user.contract_number }}">
                                                        <i class="material-icons">create</i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <div id="modal_{{ user.contract_number }}" class="modal col s12 m6"
                                                 style="overflow:auto; height:60% !important; padding-bottom: 0px;"
                                                 tabindex="-1">
                                                <div class="modal-content">
                                                    <div class="row">
                                                        <h4>{{ _("Edit Customer details")}}</h4>
                                                        <p> {{ user.contract_number }} </p>
                                                    </div>

                                                    <div class="row">
                                                        {% include "bo_customer_dashboard_edit_customer_form.html"
                                                        %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>






<div class="col s12">
                                                    <div class="row">
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p><b>{{ _("Last name") }}</b></p>
                                                            </span>
                                                        </div>
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p>{{ user.last_name }}</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p><b>{{ _("First name") }}</b></p>
                                                            </span>
                                                        </div>
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p>{{ user.first_name }}</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p><b>{{ _("Date of Birth") }}</b></p>
                                                            </span>
                                                        </div>
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p>{{ user.date_of_birth }}</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p><b>{{ _("Gender") }}</b></p>
                                                            </span>
                                                        </div>
                                                        <div class="col s12 m6 m6">
                                                            <span>
                                                                <p>{{ user.date_of_birth }}</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>


<div id="user-details" class="col s12 m8 l8 card-panel">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card-panel" style="height:330px !important;">
                <h4 class="header2"> {{ _("General Information") }}</h4>
                <div class="row">
                    <table class="responsive-table bordered" style="background:white">
                        <tbody>
                        <tr>
                            <td><b>{{ _("Last name") }}</b></td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ _("First name") }}</b></td>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ _("Date of Birth") }}</b></td>
                            <td>{{ user.date_of_birth }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ _("Gender") }}</b></td>
                            <td>{{ user.gender[0]|upper}}{{user.gender[1:] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col s12 m12 l6">
            <div class="card-panel" style="height:330px !important;">
                <h4 class="header2"> {{ _("Contact Information") }}</h4>
                <div class="row">
                    <table class="responsive-table bordered" style="background:white">
                        <tbody>
                        <tr>
                            <td><b>{{ _("Phone number") }}</b></td>
                            <td>{{ user.phone_number }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ _("City") }}</b></td>
                            <td>{{ user.city }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                {% include "modal_edit_corp_contact_info.html" %}
            </div>

        </div>

        <div class="col s12 m12 l12">
            <div class="card-panel" style="height:330px !important;">
                <h4 class="header2"> {{ _("Account Status") }}</h4>
                <div class="row">
                    <table class="responsive-table" style="background:white">
                        <tbody>
                        <tr>
                            <td><b>{{ _("Status") }}</b></td>
                            <td>{{ user.KYC_status }}</td>
                            <td>
                                <a class="btn cyan waves-effect waves-light modal-trigger right"
                                   data-target="modal_edit_status">
                                    <i class="material-icons right">create</i>
                                    {{ _("Change") }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><b>{{ _("Last modified on") }}</b></td>
                            {% set updated_on_date = user.last_updated_at.split(' ') %}
                            <td>{{ updated_on_date[0] }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>{{ _("Registered on") }}</b></td>
                            {% set registered_on_date = user.created_at.split(' ') %}
                            <td>{{ registered_on_date[0] }}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn cyan waves-effect waves-light right" type="submit"
                    name="edit-user-details">Edit
                <i class="material-icons right">create</i>
            </button>
        </div>
    </div>
</div>