<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="width: 240px;">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="{{ avatars.default() }}" alt="" class="circle responsive-img valign profile-image">
                </div>
                <!--<div class="col col s8 m8 l8" >
                    <a class="btn-flat dropdown-button white-text profile-btn" >
                        <p>{{ logged_in_employee.email_address }}
                    </a>
                    <p class="user-roal">{{ logged_in_employee.role }}</p>
                </div>-->
            </div>
            <div class="row">
                <p class="user-roal">{{ logged_in_employee.email_address }}</p>
                <p class="user-roal">{{ logged_in_employee.role[0]|upper}}{{ logged_in_employee.role[1:]}}</p>
            </div>
        </li>

        <li>
            <a href="{{url_for('main_bp.dashboard')}}">
                <i class="material-icons" aria-hidden="false" aria-label="people"> people
                </i> {{ _("Users") }}
            </a>
        </li>

        <li>
            <a href="{{url_for('main_bp.admins')}}">
                <i class="material-icons" aria-hidden="false" aria-label="people"> person_add
                </i> {{ _("Register Employee") }}
            </a>
        </li>

        <li>
            <a href="{{url_for('auth_bp.register_employee')}}">
                <i class="material-icons" aria-hidden="false" aria-label="people"> people_outline
                </i> {{ _("Administrators") }}
            </a>
        </li>
        <!--
        <li>
            <a href="{{url_for('corporate_bp.corp_profile')}}">
                <i class="material-icons" aria-hidden="false" aria-label="people"> person_pin_circle
                </i> {{ _("Profile") }}
            </a>
        </li>
        -->
        <li class="li-hover">
            <div class="divider"></div>
        </li>

        <li>
            <a href="{{url_for('auth_bp.logout')}}">
                <i class="material-icons" aria-hidden="false" aria-label="Logout"> exit_to_app
                </i> {{ _("Logout") }}
            </a>
        </li>

        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
            <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 843px; right: 3px;">
            <div class="ps-scrollbar-y" style="top: 0px; height: 685px;"></div>
        </div>
    </ul>
    <a href="#" data-activates="slide-out"
       class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i
            class="mdi-navigation-menu"></i></a>
</aside>