<div class="row">
    <div class="input-field col s12 m3 l3">
        <input id="corporate_id" type="text" name="corporate_id" class="validate grey lighten-3">
        <label for="corporate_id">{{ _("Corporate id") }}</label>
    </div>
    <div class="input-field col s12 m3 l3">
        <input id="phone_number" name="phone_number" type="text" class="validate grey lighten-3">
        <label for="phone_number">{{ _("Phone number") }}</label>
    </div>
    <div class="input-field col s12 m3 l3">
        <button class="col s12 m3 btn cyan waves-effect waves-light" name="clear_button" type="submit">
            {{ _("Filter") }}
        </button>
    </div>
    <div class="col s12 m3 l3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}

        <div class="alert {{ category }}"> {{ message|capitalize }}</div>

        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>