<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MokAdmin</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='login.css')}}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='alert_messages.css')}}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='verification_code.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='indigo-pink.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='forgot_password.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='materialize.min.css') }}"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" integrity="sha256-h0cGsrExGgcZtSZ/fRz4AwV+Nn6Urh/3v3jFRQ0w9dQ=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='materialize.min.js')}}"></script>
    <script src="{{url_for('static', filename='select_initialisation.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='drop_down.js')}}"></script> -->
</head>
<body class="mat-typography" style="overflow-y:auto">

{% extends "material/base.html" %}

    {% block content %}
    {% endblock %}

</body>
</html>