<section id="content">
    <!-- breadcrumbs start -->
    <!-- <div id="breadcrumbs-wrapper" class=" gray lighten-3">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">{{ _("List of Employees") }}</h5>
                </div>
            </div>
        </div>
    </div> -->
    <!-- breadcrumbs end -->
    <!-- Start container -->
    <div class="container">
        <div class="section">
            <!-- <div class="divider"></div> -->
            <div class="section">
                <div class="row">
                    <form action="{{ url_for('backoffice_bp.bo_assets_post') }}" method="post">
                        {% include "bo_asset_dashboard_search_form.html" %}
                    </form>
                </div>
            </div>

            <div class="section">
                <div class="row">
                    <h5 class="header">{{ _("List of Meters") }} </h5>
                    <div class="row">
                        <div class="col s12">
                            <div class="card" style="height:600px !important; overflow-x:hidden; overflow-y:scroll">
                                <div class="row" style="height:100% !important;">
                                    <div class="col s12">
                                        <table class="responsive-table">
                                            <thead>
                                            <tr class="grey lighten-1">
                                                <th>{{ _("Meter Number") }}</th>
                                                <th>{{ _("Serial Number") }}</th>
                                                <th>{{ _("Last Updated") }}</th>
                                                <th>{{ _("Edit") }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if assets %}
                                            {% for asset in assets["items"] %}
                                            <tr>
                                                <td>{{ asset.meter_number }}</td>
                                                <td>{{ asset.serial_number }}</td>
                                                {% set date_list = asset.last_updated_at.split(' ') %}
                                                <td>{{ date_list[0] }}</td>
                                                <td>
                                                    <a class="waves-effect waves-light modal-trigger"
                                                       data-target="modal_{{ asset.meter_number }}">
                                                        <i class="material-icons">create</i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <div id="modal_{{ asset.meter_number }}" class="modal"
                                                 style="overflow:auto"
                                                 tabindex="-1">
                                                <div class="modal-content">
                                                    <div class="row">
                                                        <h4>{{ _("Edit Meter details")}}</h4>
                                                        <p> {{ asset.meter_number }} </p>
                                                    </div>

                                                    <div class="row">
                                                        {% include "bo_asset_edit_form.html" %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="divider"></div>
                                <div class="col s12 m11.5">
                                    {% if assets %}
                                    {% include "bo_asset_dashboard_table_pagination.html" %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>