<div class="container">
    <p class="caption">
        {{ _("Please enter the meter details.") }}
    </p>
    <div class="divider"></div>
    <br>
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <form action="/bo/register_asset" method="post" enctype="multipart/form-data"> <!--  -->
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" class="validate grey lighten-3" id="meter_number" name="meter_number" required aria-required="true">
                                <label for="meter_number">{{ _("Meter number") }}</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <input type="text" class="validate grey lighten-3" id="serial_number" name="serial_number" required aria-required="true">
                                <label for="serial_number">{{ _("Serial number") }}</label>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" class="validate grey lighten-3" id="contract_number" name="contract_number" required aria-required="true">
                                <label for="contract_number">{{ _("Owner Contract number") }}</label>
                            </div>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>{{ _("File") }}</span>
                                <input type="file" name="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" name="file_path" placeholder='{{ _("Add photo") }}'>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn cyan waves-effect waves-light right" type="submit"
                                        name="action">{{ _("Save & Close") }}
                                    <!-- <i class="mdi-content-send right"></i> -->
                                </button>
                            </div>
                        </div>
                    </form>

                    {% include "alert_message.html" %}
                </div>
            </div>

        </div>
    </div>

</div>