{% include "dashboard_base.html" %}
{% extends "material/base.html" %}

{% block content %}

<!-- start header -->
{% include "corporate_dashboard_primary_navbar.html" %}
<!-- end header -->

<div id="main" style="flex: 1 0 auto;">

    <div class="wrapper" style="height:100% !important;">
        {% include "bo_dashboard_secondary_navbar.html" %}
        <section id="content">

            {% include "bo_reading_dashboard.html" %}

        </section>
    </div>

</div>

{% include "footer.html" %}

{% endblock %}