<div class="row">
    <div class="input-field col s12 m2 l2">
        <input id="meter_number" type="text" name="meter_number" class="validate grey lighten-3">
        <label for="meter_number">{{ _("Meter Number") }}</label>
    </div>
    <div class="input-field col s12 m2 l2">
        <input id="reading_reference" name="reading_reference" type="text" class="validate grey lighten-3">
        <label for="reading_reference">{{ _("Reading Reference") }}</label>
    </div>
    <div class="input-field col s12 m2 l2">
        <select name="verification_status" class="browser-default grey lighten-3">
            <option value="VERIFIED" selected>{{ _("VERIFIED") }}</option>
            <option value="PENDING">{{ _("PENDING") }}</option>
            <option value="REJECTED">{{ _("REJECTED") }}</option>
        </select>
        <label class="active" style="font-size:18px">{{ _("Status") }}</label>
    </div>
    <div class="input-field col s12 m2 l2">
        <button class="col s12 btn cyan waves-effect waves-light" name="customer_clear_button" type="submit">
            {{ _("Filter") }}
        </button>
    </div>

    <div class="col s12 m3 l3">
        {% include "alert_message.html" %}
    </div>

</div>