<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mok</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='alert_messages.css')}}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='materialize.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='prism.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='perfect-srollbar.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='chartist-min.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='card_styling.css') }}"/>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='footer.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">

    <script src="{{url_for('static', filename='materialize.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-1.11.3.min.js')}}"></script>
    <script src="{{url_for('static', filename='perfect-scrollbar.min.js')}}"></script>
    <script src="{{url_for('static', filename='prism.js')}}"></script>
    <script src="{{url_for('static', filename='chartist.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-1.10.2.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='jquery.min.js')}}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

    <script type="text/javascript">
        function displayImage(destElem, params, contract_number) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.get('/bo/customers_fetch_images/' + contract_number + '/' + params).done(function(response) {
                if (!response.ok){
                    $(destElem).html(response['result'])
                }
                else {
                    location.assign("{{ url_for('auth_bo_bp.bo_login', _external=True) }}");
                }
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
    </script>

    <script type="text/javascript">
        function displayReadingImage(destElem, reading_reference, meter_number) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.get('/bo/reading_fetch_images/' + reading_reference + '/' + meter_number).done(function(response) {
                if (!response.ok){
                    $(destElem).html(response['result']);
                }
                else {
                    location.assign("{{ url_for('auth_bo_bp.bo_login', _external=True) }}");
                }
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
    </script>

    <script type="text/javascript">
	function cropImage(imageBox, inputElem, cropBtn) {
	    const input = document.getElementById('id_image')
	    const img_data = input.files[0]
        const crop_btn = document.getElementById('crop-btn')
        console.log(img_data)
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	    // The new object URL represents the specified File object or Blob object.
	    const url = URL.createObjectURL(img_data)
	    console.log(url)
        imagebox = document.getElementById('image-box')
	    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	     imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

	    // Storing that cropping view image in a variable
	    const image = document.getElementById('image')

	    // Displaying the image box
	    document.getElementById('image-box').style.display = 'block'
	    // Displaying the Crop buttton
	    document.getElementById('crop-btn').style.display = 'block'
	    // Hiding the Post button
	    document.getElementById('confirm-btn').style.display = 'none'
        console.log('here we are!!!')
        // Creating a croper object with the cropping view image
	    // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	    // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	    const cropper = new Cropper(image, {
	        autoCropArea: 0.1,
	        viewMode: 1,
	        scalable: false,
	        zoomable: false,
	        movable: false,
	        minCropBoxWidth: 150,
	        minCropBoxHeight: 150,
	    })
	    // When crop button is clicked this event will get triggered
      console.log('Starting copping !!!')
	  crop_btn.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper.getCroppedCanvas().toBlob((blob)=>{

	      // Gets the original image data
	      let fileInputElement = document.getElementById('id_image');
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container = new DataTransfer();
	      // Add the cropped image file to the container
	      container.items.add(file);
	      // Replace the original image file with the new cropped image file
	      fileInputElement.files = container.files;
          console.log('Cropping !!!!!!')
	      // Hide the cropper box
	      document.getElementById('image-box').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      // Display the Post button
	      document.getElementById('confirm-btn').style.display = 'block'
	      document.getElementById('file_name').value = img_data.name
	      });
	    });
    }
    </script>

</head>
<body class="loaded">

<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

{% block content %}

{% endblock %}
</body>
</html>