{% include "login_base.html" %}
{% extends "material/base.html" %}

{% block content %}

<div id="admin_forget_password" class="row" style="width:340px;">
    <div class="col s12 z-depth-4 card-panel">
        <div class="row">
            <div class="input-field col s12 center">
                <img src="static/mok-logo2x_small.png" alt="">
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <p>
                    {{ _("Instructions to reset your password have been sent to the email address you have entered.") }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 m6 l6">
                <!-- <p class="margin medium-small"><a href="page-register.html">Register Now!</a></p> -->
            </div>
            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small">
                    <a class='pink-text' href='{{url_for("auth_bp.login")}}'>
                        {{ _("Back to Sign in") }}
                    </a>
                </p>
            </div>
        </div>

    </div>
</div>

<!--
<div class="wrapper">
  <mat-card class="mat-card mat-focus-indicator">
    <div class="form-container">
      <div class="form-header" style="color:black;">
        MoK
      </div>
        <div class="row">
            <ul>
                <li>
                    {{ _("Instructions to reset your password have been sent to the email address you have entered.") }}
                </li>
            </ul>
                <label style='float: right;'>
                    <a class='pink-text' href='{{url_for("auth_bp.login")}}'><b>{{ _("Back to Sign in") }}</b></a>
                </label>

        </div>
    </div>
  </mat-card>
</div>
-->
{% endblock %}
