<div class="row">
    <div class="input-field col s12 m5">
        <a class='dropdown-button waves-effect waves-light' data-beloworigin="true" href="{{url_for('main_bp.language_en')}}"
           data-activates='dropdown1' tabindex="0" style="color:black">

                <i class="material-icons right">arrow_drop_down</i>
                <!-- <i class="material-icons left">keyboard_arrow_down</i> -->

            {{ p_language }}
        </a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content' tabindex="0">
            <li tabindex="0"><a href="{{url_for('main_bp.language_en')}}">{{ _("English") }}</a></li>
            <li tabindex="0"><a href="{{url_for('main_bp.language_fr')}}">{{ _("French") }}</a></li>
        </ul>
    </div>

    <div class="input-field col s12 m6 offset-m1">

        <a class='dropdown-button waves-effect waves-light' data-beloworigin="true" data-alignment="left" data-constrainWidth="false" href="#"
           data-activates='dropdown2' tabindex="0" style="color:black">
            <i class="material-icons right">arrow_drop_down</i>
            {{ portal }}
        </a>
        <!-- Dropdown Structure -->
        <ul id='dropdown2' class='dropdown-content' tabindex="0">
            <li tabindex="0"><a href="{{url_for('auth_bp.login')}}">{{ _("Admin Portal") }}</a></li>
            <li tabindex="0"><a href="{{url_for('auth_corp_bp.corp_login')}}">{{ _("Employee Portal") }}</a></li>
            <li tabindex="0"><a href="{{url_for('auth_bo_bp.bo_login')}}">{{ _("Back Office") }}</a></li>
        </ul>

    </div>
</div>