<div id="modal_edit_employee" class="modal" style="overflow-y:auto;">
    <div class="modal-content">
        <h4>{{ _("Edit Contact information")}}</h4>
        <p> {{ user.employee_number }} </p>

        {% set data_dict = ({
            "corporate_id": user.employee_number,
            "first_name": user.first_name,
            "last_name": user.last_name,
            "date_of_birth": user.date_of_birth,
            "gender": user.gender,
            "city": user.city,
            "phone_number": user.phone_number,
            "email_address": user.email_address}
        )%}
        <div class="row">
            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        <form action="{{url_for('corporate_bp.update_profile_post', data_dict=data_dict)}}"
                              method="post">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input value="{{ user.phone_number }}" id="phone_number" type="text"
                                           name="phone_number" class="validate grey lighten-3" required aria-required="true">
                                    <label for="phone_number">{{ _("Phone number") }}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input value="{{ user.city }}" id="city" type="text" name="city" class="validate grey lighten-3" required aria-required="true">
                                    <label for="city">{{ _("City") }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input value="{{ user.email_address }}" id="email" type="email" name="email"
                                           class="validate grey lighten-3">
                                    <label for="email">{{ _("Email") }}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right" type="submit"
                                            name="btn_update_contact_nbr">{{ _("Close & Save") }}
                                        <!-- <i class="mdi-content-send right"></i> -->
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>