{% include "base.html" %}
{% extends "material/base.html" %}

{% block content %}

<div class="wrapper">
  <mat-card class="mat-card mat-focus-indicator">
    <div class="form-container">
      <div class="form-header" style="color:black;">
        MoK
      </div>
      <h5 style="margin-left: 5%;">{{ _("Change Password") }}</h5>
        <p>{{ _("1 Lower, 1 Upper, 1 Special, 1 Numerical, And Min 12 Characters") }}</p>
        {% if error %}
            <p class=error><strong>{{ _("Error") }}:</strong> {{ error }}
        {% endif %}
      <div class="row">
        <form action="/reset-password" method="post">
            <div style="margin-top=15px">
                <div class="input-field">
                    <input id="new_password" type="password" name="new_password" class="validate">
                    <label for="new_password">{{ _("New Password") }}</label>
                </div>
            </div>
            <div style="margin-top=5px">
                <div class="input-field">
                    <input id="re_password" type="password" name="re_password" class="validate">
                    <label for="re_password">{{ _("Re-Type Password") }}</label>
                </div>
            </div>

            <div class='row' style='margin-top:5%;'>
                <button type='submit' name='btn_login' class='btn mat-btn waves-effect yellow' style="color:black;">
                    {{ _("Submit") }}
                </button>
            </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>

{% endblock %}
