{% include "login_base.html" %}
{% extends "material/base.html" %}

{% block content %}


<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <form action="/reset-password" class="login-form" style="width:340px;" method="post">
            <div class="row">
                <div class="input-field col s12 center">
                    <img src="static/mok-logo2x_small.png" alt="">
                    <h5 style="margin-left: 5%;">{{ _("Change Password") }}</h5>
                </div>
            </div>
            {% include "alert_message.html" %}
            <div class="row">
                <div class="col s12">
                    <!-- <div class="card-panel" style="overflow:auto"> -->
                    <p>{{ _("Must have 1 Lower, 1 Upper, 1 Special, ") }}</p>
                    <p>{{ _("1 Numerical, and a Minimum of 12 Characters") }}</p>
                    <!-- </div> -->
                </div>
            </div>
            <br>
            <div class="row margin">
                <div class="input-field col s12">
                    <input id="new_password" type="password" name="new_password" class="validate grey lighten-3">
                    <label for="new_password">{{ _("New Password") }}</label>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <input id="re_password" type="password" name="re_password" class="validate grey lighten-3">
                    <label for="re_password">{{ _("Re-Type Password") }}</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button type='submit' name='btn_admin_reset_pass' class='col s12 btn mat-btn waves-effect yellow' style="color:black;">
                        {{ _("Submit") }}
                    </button>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

{% endblock %}
